body{
	font-family: Verdana;
	font-size: 16px;
	color: black;

}

.center-div{
    padding-top: 1cm;
    text-align: center;
    font-family: Verdana;
}

.ilusnupp {
    background-color: #5A5A5A;
    border: 2px solid #5A5A5A;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 22px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 10px 0px;
    width: 10%;
    text-decoration: none;
}

.ilusnupp:hover {
    background-color: white;
    color: #5A5A5A;
}

.form-text
{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}