<head>
	<title>Restoranivalija</title>
	
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="center-div">
	<link rel="stylesheet" type="text/css" href="uusresto_style.css">
	<h1>Anna restoranile hinnang</h1>
	<form>
  	Restorani nimi:<br>
		<select class="form-text" id="nimi">
			<option value="" selected disabled hidden>Vali restoran</option>
		</select><br><br>
		<!--<input id="nimi" type="text" class="form-text" placeholder ="Siia tuleb drop-down list"><br><br>-->
        Hinnang toidule:<br>
        <input id="hinnangToit" type="number" class="form-text" placeholder="Hinnang kümnepallisüsteemis" required min="1" max="10"><br><br>
        Ooteaeg:<br>
        <input id="ooteaeg" type="number" class="form-text" placeholder="Mitu minutit ootama pidid?" required><br>

      <br><p id="koht"></p><br>
      <a href="index.html" class="ilusnupp">Tagasi</a>
          <!--<a href="submitted.html" class="ilusnupp">Sisesta</a>-->
        <input id="button" class="ilusnupp" value="Sisesta" type="submit">
	</form>
	</div>
	<script src="global.js"></script>
	<script src="hindaresto_script.js">
	</script>
</body>