<head>
	<title>Restoranivalija</title>
	
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="center-div">
	<link rel="stylesheet" type="text/css" href="style.css">
	<h1> Kuhu täna sööma minna?</h1>

	<form>
		<input id="button" value="Paku midagi!" type="submit">


	</form>
	<div id="vastus"></div>
	<br>

	<a href="uusresto.html" class="ilusnupp">Lisa uus restoran</a>	
	<a href="hindaresto.html" class="ilusnupp">Anna oma hinnang</a>
	</div>

	<a href="info.html" class="ilusnupp-pisi">Infot selle lehe kohta</a>
	<script src="global.js"></script>
	<script src="script.js">
	</script>
</body>