<head>
	<title>Restoranivalija</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<p>Restoranivalija on tehtud Vali IT programmi raames veebruaris-aprillis 2019</p>
	<ul>
		<li>Front-end: HTML/JS/CSS</li>
		<li>Back-end: Java</li>
		<li>Andmebaas: PostgreSQL</li>
	</ul>
	<p>Teostus: Kairi Kübarsepp</p>
	<a href="https://www.linkedin.com/in/kairi-k%C3%BCbarsepp-92531a61/">LinkedIn</a>
	<p> Aitäh Aikile idee eest ja Triinule nuppude disaini eest!</p>
	<p> Eriti suur aitäh Kristerile juhendamise eest!</p>


</body>